.posts-area {
  width: 30rem;
}
.post { 
  padding: 1rem 0;
  word-break: break-word;
}
.post-image {
  width: 30rem
}
.comments-area {
  width: 30rem;
  align-items: left;
}
.comment {
  word-break: break-word;
}